@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700;800&display=swap');

:root {
  --green: #6AAA64;
  --yellow: #CEB02C;
  --gray: #939B9F;

  
  --dark: #262B3C;
  --white: #FFFFFF;
  --black: #000000;
  --shadow-dark: rgba(218, 220, 224, 0.03);
  --shadow-light: rgba(218, 220, 224, 0.3);
  --icon-gray: #818181;
  --moon: linear-gradient(180deg, #DDEDFF 0%, #3483F9 100%);
  --sun: linear-gradient(180deg, #FFC123 0%, #F8832E 100%);
  --gray-dark: #565F7E;
  --gray-light: #D3D6DA;
}

/* GLOBALS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
  background: var(--background);
  transition: background 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1, h2, h3, p, b {
  color: var(--text);
  transition: color 0.5s ease;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.075em;
}

h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
  text-align: left;
  width: 100%;
}

p {
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  text-align: left;
  width: 100%;
}

b {
  font-weight: 700;
}

button {
  cursor: pointer;
}

svg > path {
  fill: var(--icon);
  transition: fill 0.5s ease;
}

.g__styless-btn {
  border: none;
  background: none;
}

.g__dialog-back {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background);
  opacity: 75%;
}

.g__dialog {
  z-index: 2;
  position: absolute;
  border: 1px solid var(--text);
  background: var(--background);
  padding: 50px;
  width: 100%;
  max-width: 545px;
  border-radius: 15px;
}

.g__dialog-btn {
  width: 265px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: var(--green);
  color: var(--white);
  font-weight: 800;
  
  font-size: 28px;
  line-height: 33px;
}

/* COMPONENTS */

/* Header */
.header {
  width: 100%;
  max-width: 640px;
  height: 100%;
  min-height: 84px;
  border-radius: 15px;
  background: var(--shadow);
  transition: background 0.5s ease;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 90px;
}

.header__right {
  display: flex;
  align-items: center;
}

/* Toggle */
.toggle {
  width: 60px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease;
  position: relative;
}

.toggle__switch {
  width: 25px;
  height: 25px;
  background: var(--switch);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: all  0.5s ease;
}

.toggle__switch--sun {
  transform: translateX(29px);
  transition: transform  0.5s ease;
}

/* Instructions */
.instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.instructions__title {
  margin-bottom: 32px;
}

/* Keyboard */
.keyboard {
  width: 100%;
  max-width: 640px;
  height: 240px;
  background: var(--shadow);
  transition: background 0.5s ease;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.keyboard__row--1 {
  padding: 0 52px;
  margin-bottom: 9px;
}

.keyboard__row--2 {
  padding: 0 38px 0 68px;
  margin-bottom: 9px;
}

.keyboard__row--3 {
  padding: 0 85px 0 20px;
}

.keyboard__key {
  width: 45px;
  height: 50px;
  border-radius: 5px;
  background: var(--key);
  border: none;
  
  color: var(--key-legend);
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  transition: all 0.5s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard__key > svg > path {
  fill: var(--key-legend);
  transition: fill 0.5s ease;
}

.keyboard__key--enter, .keyboard__key--del {
  width: 70px;
  font-size: 15px;
}
